<%- include('partials/header') %>
    <title>Homepage</title>
</head>
<body>

    <h1>Share your secret</h1>

    <a href="/register">Sign up</a>
    <a href="/login">Log in</a>
    
<%- include('partials/footer') %>